@import "responsive";
@import "palette";
@import "mixins";

.navbar-mobile {
  span,
  li {
    cursor: pointer;
    text-transform: uppercase;
  }

  nav {
    display: none;
  }

  &.active {
    nav {
      @include flex(column, center, inherit);

      background-color: $white-color;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 80px;
      width: 100vw;

      ul {
        width: 100%;

        li {
          border-bottom: 1px solid;
          padding: 1rem 0;
          text-align: center;
        }
      }
    }
  }

  @media #{$screen-m}, #{$screen-l} {
    display: none;
  }
}
